.git
out/

#IDEA files
.idea
*.iml
*.ipr

#Eclipse files
*.settings
*.classpath
*.project
*.pydevproject

#Netbeans files
/.nb-gradle/

#Mac OS stuff
.DS_Store

#Java
*.class

# Log file
*.log
logs/

#Allure files
.allure
allure-report

### Gradle ###
.gradle
build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache